/*
To compile:
0.  Visit https://github.com/jonycheung/deadsimple-less-watch-compiler
1.  Open Terminal
2.  Type this code at the project folder:
    less-watch-compiler less css
*/
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 300;
  src: local('Kanit Light Italic'), local('Kanit-LightItalic'), url(https://fonts.gstatic.com/s/kanit/v3/nKKS-Go6G5tXcraQI6miZbdhNA.ttf) format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 300;
  src: local('Kanit Light'), local('Kanit-Light'), url(https://fonts.gstatic.com/s/kanit/v3/nKKU-Go6G5tXcr4-ORWzVaQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJfedw.ttf) format('truetype');
}
/*---General Setting---*/
body {
  padding-top: 0px;
}
h1 {
  color: #6B0F1A;
  font-family: 'Poppins';
  font-size: 26px;
  letter-spacing: 2px;
  margin-top: 40px;
}
h2 {
  color: #6B0F1A;
  font-family: 'Poppins';
}
h3 {
  font-family: 'Poppins';
  font-weight: lighter;
  font-size: 16px;
  line-height: 1.6;
}
h4 {
  color: #6B0F1A;
  font-family: 'Poppins';
  font-size: 20px;
  letter-spacing: 2px;
}
.text-mute {
  color: #6B0F1A;
  font-family: 'Poppins';
  font-size: 20px;
  letter-spacing: 2px;
}
.banner {
  padding: 0px 0px;
  background: #eeeeee;
}
.container {
  padding-top: 50;
}
/*---Button---*/
.btn-primary {
  color: #ffffff;
  background-color: #6B0F1A;
  border-color: #000000;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #3e090f;
  border-color: #000000;
}
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active:focus,
.btn-primary[disabled]:active:focus,
fieldset[disabled] .btn-primary:active:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #6B0F1A;
  border-color: #000000;
}
.btn-primary .badge {
  color: #6B0F1A;
  background-color: #ffffff;
}
header.masthead {
  text-align: center;
  background-image: url(../img/par.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
header.masthead .intro-text .intro-heading {
  font-size: 47px;
  line-height: 70px;
  font-weight: 1000;
  letter-spacing: 0.15em;
  font-family: 'Poppins';
  text-align: right;
  text-shadow: 3px 3px 10px #000000;
}
header.masthead .caption {
  font-size: 16px;
  letter-spacing: 0.15em;
  font-family: 'Poppins';
  text-align: right;
  text-shadow: 3px 3px 10px #000000;
}
.img-first {
  max-width: 50%;
  height: auto;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}
.v1 {
  align-items: center;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
  opacity: 0;
  background: rgba(173, 20, 20, 0.8);
}
#mainNav.navbar-shrink {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #6B0F1A;
}
/*---Responsive (Bootstrap Standard)---*/
/* Only Large devices (LG) */
/* Only Medium devices (MD) */
/* Only Small devices (SM) */
/* Only Extra Small devices (XS) */
@media only screen and (max-width: 768px) {
  h1 {
    color: #FF00FF;
  }
}
