/*
To compile:
0.  Visit https://github.com/jonycheung/deadsimple-less-watch-compiler
1.  Open Terminal
2.  Type this code at the project folder:
    less-watch-compiler less css
*/
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 300;
  src: local('Kanit Light Italic'), local('Kanit-LightItalic'), url(https://fonts.gstatic.com/s/kanit/v3/nKKS-Go6G5tXcraQI6miZbdhNA.ttf) format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 300;
  src: local('Kanit Light'), local('Kanit-Light'), url(https://fonts.gstatic.com/s/kanit/v3/nKKU-Go6G5tXcr4-ORWzVaQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'), url(https://fonts.gstatic.com/s/cairo/v3/SLXGc1nY6HkvalIhTp4.ttf) format('truetype');
}
/*---General Setting---*/
body {
  padding-top: 0px;
}
body h1 {
  color: #AD1414;
  font-family: 'Cairo';
  font-size: 26px;
}
body h2 {
  color: #AD1414;
  font-family: 'Cairo';
}
body h4 {
  color: #AD1414;
  font-family: 'Cairo';
}
body .banner {
  padding: 0px 0px;
  background: #eeeeee;
}
/*---Button---*/
.btn-primary {
  color: #ffffff;
  background-color: #AD1414;
  border-color: #000000;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #7f0f0f;
  border-color: #000000;
}
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active:focus,
.btn-primary[disabled]:active:focus,
fieldset[disabled] .btn-primary:active:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #AD1414;
  border-color: #000000;
}
.btn-primary .badge {
  color: #AD1414;
  background-color: #ffffff;
}
header.masthead {
  text-align: center;
  color: #fff;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
  opacity: 0;
  background: rgba(173, 20, 20, 0.8);
}
/*---Responsive (Bootstrap Standard)---*/
/* Only Large devices (LG) */
/* Only Medium devices (MD) */
/* Only Small devices (SM) */
/* Only Extra Small devices (XS) */
@media only screen and (max-width: 768px) {
  h1 {
    color: #FF00FF;
  }
}
