// Color Variables
@color-theme-primary: #6B0F1A;
@color-theme-secondary: #FF00FF;

// Font Variables
@font-primary: 'Poppins';
@font-secondary: 'Helvetica Neue',Helvetica,Arial,sans-serif;

//Fix Glyphicons Location
@icon-font-path: "../bower_components/bootstrap/fonts/";
